
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="icon" href="https://cdn.glitch.com/2a200d48-e131-4f52-857c-9152e9e1e749%2Fcoders-x.jpg?v=1589031043773">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/scripts/script.js" defer></script>
</head>
<body>
    <div class="container ">
        <div class="d-flex my-container">
          <h2 class="center my-center"><a href="/">Bookstore Lists</a></h2>
          <div>
            <a class="link-item" href="/users/create">New</a>
            <a class="link-item" href="/users">Show Users</a> 
            <a class="link-item" href="/transaction">transaction</a>

              
          </div>
        </div>
      </div>

