<%- include("../partials/header.ejs")-%>

<h3>View page</h3>

<p>Title: <Strong><%= task.title %></Strong></p>
<p>Description: <Strong><%= task.description %></Strong></p>
<p>Complete: <Strong><%= task.complete %></Strong></p>