<%- include("../partials/header.ejs")-%>

<div class="container">
    <h3>view page</h3>

    <p><strong>Name: </strong><%= user.name %></p>
    <p><strong>Id: </strong><%= user.id %></p>
    <p><strong>Email: </strong><%= user.email %></p>
</div>